# Visual Studio cache and settings
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
bin/
obj/
[Bb]uild/
[Ll]ogs/

# Debug and release folders
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/

# NuGet packages
*.nupkg
*.snupkg
packages/
*.nuget.props
*.nuget.targets

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap

# Others
*.dbmdl
*.bak
*.log
*.ldf
*.mdf
*.sqlite
